.checkout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout__title>h2 {
    padding: 22px;
    width: 50%;
    box-shadow: -20px -11px 0px #ffedce73;
    background: #ff9f0033;
    font-size: larger;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c4d18;
}

.checkout__left {
    display: flex;
    flex-direction: column;
}

.checkout__heroImage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 1px 1px 20px 0px #ffecccc7;
    margin-bottom: 33px;
    padding: 10px;
}

.checkout__heroImage__left {
    width: 63%;
    max-height: 500px;
}

.checkout__heroImage__left>img {
    width: 100%;
    border-radius: 4px;
    height: 500px;
}

.checkout__heroImage__right {
    width: 33%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.checkout__heroImage__right>img {
    width: 100%;
    border-radius: 4px;
    height: 240px;
}